# CMake
build/
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
CMakeScripts/
Makefile
MihonQT
*_autogen/
*.cmake
CMakeScripts/
Testing/
**/build/


# Qt
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
qtcreator_process_stub.app/
*.moc
*.o
*.obj
*_automoc.cpp
moc_*.cpp
qrc_*.cpp
ui_*.h

# Visual Studio
.vs/
*.VC.db
*.suo
*.sln.docstates
*.vcxproj.filters
*.vcxproj.user
/ipch/
/x64/
/Win32/
/Release/
/Debug/
*.tlog

# General
*.swp
*~
*.bak
*.orig
*.log

# macOS
.DS_Store

# Linux
*.so

# Dev artifacts
extensions/
work/
